@import "tailwindcss";

@theme {
  --color-brand-sage: #A3B18A;
  --color-brand-cream: #FDFCF8;
  --color-brand-stone: #E7E5E4;
  --color-brand-dark: #44403C;
  --font-sans: 'Outfit', sans-serif;
}

/* Custom Utilities for that "Premium" feel */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  @apply bg-stone-100 text-stone-800 antialiased;
  /* Fallback if font fails, though we will load it in Layout */
  font-family: 'Outfit', system-ui, sans-serif;
}
